#reputation {
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 110px;
  margin: 10px 10px 0 10px;
  flex: auto;
  padding: 25px 0px 35px 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.title {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 23px;
}

.stat_number {
  color: white;
  cursor: default;
}

.big_number_box {
  margin-top: 13px;
  font-size: 40px;
  font-weight: 700;
}

.bottom_wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 14px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.bottom_wrapper #year_change {
  margin-left: 30px;
}