#wins {
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 70px;
  flex: 1;
  margin: 15px 10px 0 10px;
  padding: 25px 0px 30px 30px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
}

.stat_number {
  color: white;
  cursor: default;
}

.title {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 23px;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  font-size: 23px;
  color: white;
}

.container .gold {
  color: gold;
  opacity: 0.7;
}

.container .silver {
  color: silver;
  opacity: 0.7;
}

.container .bronze {
  color: orange;
  opacity: 0.7;
}