#header {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width:var(--header-width);
  max-width: var(--header-max-width);
  border-radius: var(--border-radius-one);
}

.wrapper {
  position: relative;
  z-index: 1; /* the loading effect component uses z-index: 0 */
  height: var(--header-height);
  max-width: var(--header-max-width);
  background-image: url("../../../global/assets/images/CP_stats.gif");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  border-radius: var(--border-radius-one);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset -4px 4px 12px rgb(0, 0, 0, 1);
}

.glass {
  display: flex;
  justify-content: flex-end;
  border-right: 1px solid white;
  overflow-x: hidden;
  border-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255, 0.15),
      rgba(0, 0, 0, 0.9)
    )
    1 100%;
  position: relative;
  z-index: 1;
  position: relative;
  background: linear-gradient(
    8deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.18) 80%
  );
  width: calc(100%-1px);
  height: 100%;
}

.movable_box {
  display: flex;
  width: 210px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 500ms;
  border-right: 1px solid rgb(61, 76, 97, 0.5);
}

.icons_wrapper {
  width: auto;
  height: 300px;
  color: white;
  font-size: 50px;
  padding: 0px 20px 0px 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.icons_wrapper > div {
  font-size: 50px;
  width: 60px;
  text-align: center;
  color: white;
  opacity: 0.4;
  padding: 5px 15px 5px 15px;
  margin: 10px;
  cursor: pointer;
  transition: 500ms;
}

.selected {
  border-radius: 99999px;
  border: 2px dotted var(--bright-slate);
  opacity: 0.8 !important;
}

.transparent_border {
  border-radius: 99999px;
  border: 2px dotted transparent;
}
