#header {
  margin: 0 auto;
  display: flex;
  max-width: 880px;
  justify-content: flex-end;
  height: var(--header-height);
  background-image: url('../../../global/assets/images/cyberpunk_7.gif');
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  border: 2px solid rgb(0, 237, 250, 0.3);
  border-radius: var(--border-radius-one);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.movable_box {
  display: flex;
  width: 210px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 500ms;
  border-right: 1px solid rgb(61, 76, 97, 0.5);
}

.icons_wrapper {
  width: auto;
  height: 300px;
  color: white;
  font-size: 50px;
  padding: 0px 20px 0px 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.icons_wrapper>div {
  font-size: 50px;
  width: 60px;
  text-align: center;
  color: white;
  opacity: 0.7;
  padding: 5px 15px 5px 15px;
  margin: 10px;
  cursor: pointer;
}

.selected {
  border-radius: 3px;
  border: 1px solid rgb(70, 201, 70);
}