#pinned_project {
  color: var(--white);
  margin: 50px auto 100px auto;
  width: 90%;
  width: 700px;
}

.top {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 70px;
  /*border: 1px solid white;*/
}

.top .left {
  display: flex;
  flex: 1;
  margin-left: 10px;
  /*border: 1px solid white;*/
}

.top .left .folder {
  width: 33px;
  color: rgb(0, 255, 255, 0.6);
}


.top .left .project_name {
  margin: 26px 0px 0px 10px;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  flex-wrap: wrap;
  height: fit-content;
  color: rgb(0, 255, 255, 0.6);
  /*border: 1px solid white;*/
}

.top .middle {
  display: flex;
  width: auto;
  margin-right: 5px;
  color: rgb(0, 255, 255, 0.8);
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;
}

.movable_text {
  width: 80px;
  padding-top: 2px;
  font-size: 14px;
  transform: translateX(80px);
  transition: 700ms;
  color: rgb(0, 255, 255, 0.6);
  cursor: pointer;
}

#pinned_project:hover .movable_text {
  transform: translateX(15px);
}

.top:hover .movable_text {
  transform: translateX(80px) !important;
}

.top .right {
  display: flex;
  margin-right: 15px;
  justify-content: flex-end;
  flex-wrap: wrap;
  /*border: 1px solid white;*/
}

.top .right>* {
  color: rgb(0, 255, 255, 0.6);
  width: 23px;
  transition: 300ms;
}

.top .right>*:hover {
  color: rgb(0, 255, 255, 1);
  cursor: pointer;
}

.image_wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 390px;
  border-radius: 2px;
  transition: 400ms;
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;*/
}

.image_wrapper:hover {
  /*box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;*/
}

.image_wrapper img {
  transition: 400ms;
  opacity: 0.8;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  width: 720px;
}

.image_wrapper img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.about {
  padding: 15px 10px 10px 10px;
  border-radius: 6px;
  font-size: 14px;
}

.preview {
  cursor: pointer;
  transition: 400ms;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 3px;
  color: rgb(0, 255, 255, 0.6);
  /*border: 1px solid white;*/
}

.preview:hover {
  color: rgb(0, 255, 255, 0.7);
}

.preview:hover .image_wrapper img {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}


.button_wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}