#project_card {
  flex: 1;
  height: fit-content;
  margin: 20px 20px 0px 20px;
  padding: 35px 30px 35px 30px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#project_card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
}

.header .left_box {
  display: flex;
  flex: auto;
  align-items: center;
  font-size: 18px;
  color: #eee;
  text-transform: capitalize;
  font-weight: 500;
}

.header .right_box {
  display: flex;
  width: 80px;
  align-items: center;
}

.header .right_box>* {
  color: rgba(0, 255, 255, 0.6);
  width: 23px;
  transition: 300ms;
}

.header .right_box>*:hover {
  color: rgba(0, 255, 255, 0.9);
  width: 23px;
  cursor: pointer;
}

.header .right_box #link_icon {
  margin-right: 20px;
}

.folder {
  width: 40px;
  color: aqua;
}

.about {
  text-align: left;
  margin-top: 30px;
  color: lightblue;
  opacity: 0.7;
  font-size: 15px;
  font-weight: 300;
}

.tags_wrapper {
  text-align: left;
  margin-top: 30px;
  padding-bottom: 0px;
  margin-left: -3px;
}

.tag {
  display: inline-block;
  padding: 2px 8px 3px 8px;
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9) !important;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  border-radius: 2px;
  margin: 3px;
  cursor: default;
}