@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap');

body {
  background-color: #303A57;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23384363' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23414d6f' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2349567b' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23526087' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%235A6993' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-1 {
  color: #dddddd;
  font-size: 30px;
  text-transform: capitalize;
}

.app-container {
  margin: 10px auto;
  max-width: 800px;
  height: 100vh;
  /*border: 1px solid white;*/
}

.content-box {
  margin-top: 20px;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}