.card {
  flex: 1;
  margin-top: 40px;
  padding: 40px;
  border-radius: 11px;
  transition: 200ms;
  background-color: rgba(255, 255, 255, 0.07);
  cursor: pointer;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.title {
  color: rgba(142, 230, 249, 0.8);
  font-size: 23px;
  font-weight: 600;
}

.details {
  margin-top: 5px;
  color: #eee;
  font-size: 14px;
}

.description {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
}