.card {
  flex: 1;
  margin: 40px 20px 40px 20px;
  padding: 40px;
  border-radius: 5px;
  transition: 200ms;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.card:hover {
  background-color: rgb(130, 47, 255, 0.2);
}

.title {
  color: rgba(19, 255, 255, 0.7);
  font-size: 23px;
  font-weight: 600;
}

.details {
  margin-top: 5px;
  color: #eee;
  font-size: 14px;
}

.description {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
}