@media screen and (max-width:650px){
  #card{
    margin: 0px 20px 0px 20px!important;
    padding: 20px 30px 20px 30px!important;
  }
}

#card {
  flex: 1;
  margin: 0px 65px 0px 65px;
  padding: 30px 5px 30px 5px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

#card:hover > .title{
  opacity:1;
}

#card:hover > .details{
  opacity:0.8;
}

#card:hover > .description{
  opacity: 0.9;
}

.title {
  transition: 200ms;
  cursor: pointer;
  font-size: 23px;
  color: #eee;
  opacity:0.8;
  font-weight: 700;
}

.details {
  transition: 200ms;
  color: rgba(0, 255, 255);
  opacity: 0.6;
  margin-top: 5px;
  font-size: 13px;
}

.description {
  transition: 200ms;
  margin-top: 12px;
  color: lightblue;
  opacity: 0.7;
  font-size: 15px;
  font-weight: 400;
}

.tags_wrapper {
  text-align: left;
  margin-top: 20px;
  padding-bottom: 0px;
  margin-left: -3px;
}

.tag {
  display: inline-block;
  padding: 3px 15px 4px 15px;
  font-size: 13px;
  font-weight: 300;
  color: rgb(0, 237, 250,0.8) !important;
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
  border-radius: 2px;
  margin: 3px;
  cursor: default;
}