#filterByTopic {
  display: flex;
  margin: 20px auto 0px auto;
  padding: 0px 0px 20px 0px;
  width: 90%;
  flex-wrap: wrap;
}

#filterByTopic>div {
  flex: 1 0 130px;
  max-width: 130px;
  margin: 20px;
  padding: 12px 0px 12px 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 14px;
  border-radius: var(--border-radius-two);
  background-color: var(--wrapper-bg-color);
  border: var(--wrapper-border);
  box-shadow: var(--wrapper-inner-shadow);
  transition: 300ms;
  cursor: pointer;
  text-transform: uppercase;
}

#filterByTopic>div:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.selected {
  color: var(--selected-font-color) !important;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 1),
      0 0 10px rgba(255, 255, 255, 1),
      0 0 15px rgba(0, 237, 250, 0.5),
      0 0 20px rgba(0, 237, 250, 0.5),
      0 0 25px rgba(0, 237, 250, 0.5),
      0 0 30px rgba(0, 237, 250, 0.5),
      0 0 35px rgba(0, 237, 250, 0.5);
  }

  to {
    text-shadow:
      0 0 10px rgba(255, 255, 255, 1),
      0 0 15px rgba(0, 237, 250, 0.6),
      0 0 20px rgba(0, 237, 250, 0.6),
      0 0 25px rgba(0, 237, 250, 0.6),
      0 0 30px rgba(0, 237, 250, 0.6),
      0 0 35px rgba(0, 237, 250, 0.6),
      0 0 40px rgba(0, 237, 250, 0.6);
  }
}