.header {
  display: flex;
  font-family: roboto;
  height: 310px;
  padding: 20px 20px 20px 0;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 11px;
  background-size: cover;
  background-position: center;
}

.left_box {
  flex-grow: 1;
}

.right_box {
  min-width: 45%;
  max-width: 45%;
  padding: 10px 30px 30px 30px;
  cursor: pointer;
  transition: 200ms;
  border-radius: 6px;
  background-color: rgba(21, 21, 21, 0.87);
}

.right_box:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.label {
  width: 80px;
  font-size: 17px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 23px 0px 0px 0px;
  padding: 3px 0px 3px 0px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.right_box .title {
  margin: 18px 0px 0px 0px;
  color: rgba(142, 230, 249, 0.8);
  font-size: 30px;
  font-weight: 700;
}

.right_box .sentence {
  margin: 15px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 17px;
  font-weight: 400;
}