@media screen and (max-width:580px) {
  .movable_box {
    display: none !important;
  }
}

#header {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: var(--header-width);
  max-width: var(--header-max-width);
  border-radius: var(--border-radius-one);
}

.wrapper {
  position: relative;
  z-index: 0;
  height: var(--header-height);
  max-width: var(--header-max-width);
  background-image: url("../../../global/assets/images/CP_writings.gif");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  border-radius: var(--border-radius-one);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset -4px 4px 12px rgb(0, 0, 0, 1);
}

.glass {
  display: flex;
  justify-content: flex-end;
  border-right: 1px solid white;
  overflow-x: hidden;
  border-image: linear-gradient(to bottom,
      rgb(255, 255, 255, 0.15),
      rgba(0, 0, 0, 0.9)) 1 100%;
  position: relative;
  z-index: 1;
  position: relative;
  background: linear-gradient(8deg,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0.18) 80%);
  width: calc(100%-1px);
  height: 100%;
}

.movable_box {
  display: flex;
  width: 500px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 500ms;
  border-right: 1px solid rgb(61, 76, 97, 0.5);
}

.content_wrapper {
  width: 415px;
  padding: 0 20px 0 30px;
  height: auto;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.content_wrapper:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.title {
  margin: 18px 0px 0px 0px;
  color: rgba(19, 255, 255, 0.7);
  font-size: 30px;
  font-weight: 700;
}

.sentence {
  margin: 15px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  font-weight: 400;
}