#footer {
  margin: 0 auto;
  width: 880px;
  height: 200px;
  background-color: var(--wrapper-bg-color);
  border-radius: var(--wrapper-border-radius);
  border: var(--wrapper-border);
  box-shadow: var(--wrapper-inner-shadow);
}