#footer {
  display: flex;
  width: 95%;
  height: 50px;
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  /*border: 1px solid white;*/
}

span {
  color: rgba(0, 255, 255, 0.7);
  transition: 200ms;
  cursor: pointer;
}

span:hover {
  color: rgba(0, 255, 255);
}