#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 880px;
  height: 200px;
  color: rgba(255, 255, 255, 0.6);
}