.social {
  display: flex;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
  width: 270px;
  height: 42px;
  color: rgba(255, 255, 255, 0.4);
  border-radius: 4px 2px 2px 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.32);
  border-right: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  border-left: 1px solid rgba(255, 255, 255, 0.07);
  background-color: #34436d;
  /*
  background: linear-gradient(0deg,
      var(--dark-transparent-one) 50%,
      rgba(7, 7, 7, 0.6) 50%);
      */
  /*background-color: var(--dark-transparent-one);*/
  /*background-color: rgba(37, 50, 92, 0.7);*/
  /*
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(21, 21, 21, 0.6) 50%);
      */
  transition: 200ms;
}

.button_box {
  cursor: pointer;
  width: 33px;
  margin: 2px 2px 2px 2px;
  height: 38px;
  transition: 200ms;
  border-radius: 3px 3px 3px 3px;
  background-color: rgba(0, 255, 255, 0.07);
}

.button_box:hover {
  background-color: rgba(0, 255, 255, 0.1);
}

.button_box:hover>* {
  color: rgba(0, 255, 255, 0.5) !important;
}

.icons_wrapper {
  display: flex;
  justify-content: flex-start;
}

.icons_wrapper>* {
  cursor: pointer;
  transition: 200ms;
}

.icons_wrapper>*:hover {
  color: rgba(236, 236, 236, 0.7);
}

#arrow {
  font-size: 27px;
  margin: 6px 0px 0px 9px;
  color: rgba(236, 236, 236, 0.4);
  transition: 200ms;
}

#git {
  height: 22px;
  margin: 12px 10px 0px 17px;
}

#stack {
  font-size: 24px;
  margin: 11px 20px 0px 20px;
}

#twitter {
  height: 22px;
  margin: 13px 20px 0px 20px;
}

#codepen {
  height: 23px;
  margin: 13px 15px 0px 20px;
}