#content_wrapper {
  margin: 0 auto;
  width: 95%;
  padding: var(--content-padding);
  max-width: var(--content-max-width);
  background-color: var(--wrapper-bg-color);
  border-radius: var(--wrapper-border-radius);
  border: var(--wrapper-border);
  box-shadow: var(--wrapper-inner-shadow);
}