#header {
  display: flex;
  flex: 1;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 17px;
}

.left_box {
  width: auto;
}

.right_box {
  margin: 45px 0px 0px 0px;
}

.right_box .title {
  /*font-family: 'Barlow Semi Condensed', sans-serif;*/
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(70, 201, 70);
}

.right_box .about {
  color: #ddd;
  margin: 20px 20px 0px 0px;
}