#section_title {
  margin: var(--section-title-margin);
  max-width: 888px;
  width: 95%;
}

.wrapper {
  display: flex;
  width: 75%;
  min-width: 450px;
  margin: 0 0 0 0;
}

.text_style_one {
  text-transform: capitalize;
  color: var(--white);
  font-family: roboto;
  font-size: 40px;
  margin: 10px 0 0 29px;
  font-weight: 700;
}

.text_style_two {
  color: rgba(0,255,255,0.7);
  text-transform: uppercase;
  font-family: Barlow Semi Condensed;
  max-height:20px;
  font-size: 16px;
  line-height: 22px;
  margin: 30px 0 0 10px;
  font-weight: 600;
  /*width: 14ch;*/
  /*animation: typing 2s steps(14), blink .5s step-end infinite alternate;*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*border-right: 2px solid rgba(255,255,255,0.6);*/
}


@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}