#section_title {
  margin: var(--section-title-margin);
  max-width: 888px;
  width: 90%;
  /*border: 1px solid white;*/
}

.wrapper {
  display: flex;
  width: 55%;
  min-width: 450px;
  margin: 0 0 0 20px;
  border-bottom: 2px solid #3c5262;
  /*border-bottom: 2px solid rgba(255, 255, 255, 0.2);*/
}

.text_style_one {
  text-transform: capitalize;
  color: #eee;
  font-family: roboto;
  font-size: 40px;
  margin: 10px 0 0 29px;
  font-weight: 700;
}

.text_style_two {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  line-height: 20px;
  margin: 30px 0 0 10px;
  font-weight: 400;
  font-style: italic;
}