.modal {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.card {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 12;
  border-radius: 5px;
  height: fit-content;
  margin: 50px auto;
  max-width: 600px;
  background-color: white;
  color: black;
}

.card:after {
  position: absolute;
  content: "";
  bottom: -50px;
  height: 50px;
  width: 1px;
}

.card .header {
  padding: 10px;
  display: flex;
  align-items: center;
  width: auto;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.card .header .title {
  flex: 1;
  padding-left: 10px;
  height: 40px;
  font-size: 25px;
}

.card .header .close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
  /*border: 1px solid black;*/
}

.card .content {
  padding: 10px;
  margin-top: 20px;
}

.content img {
  width: 100%;
}
