#home {
  width: 100%;
}

.image_wrapper {
  flex: 1;
  min-height: 310px;
  max-height: 310px;
  border: 5px solid #3d4c61;
  border-radius: 11px;
  background-position: center;
  background-size: cover;
}