#stack_overflow .body {
  width: 780px;
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /*border: 1px solid rgb(255, 255, 255);*/
}

#stack_overflow .body .left_box {
  width: 384px;
  /*border: 1px solid rgb(255, 0, 0);*/
}

#stack_overflow .reputation_card {
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100px;
  margin: 10px 0 0 10px;
  max-width: 330px;
  padding: 25px 0px 35px 30px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.23);
}

#stack_overflow .badges_card {
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 70px;
  max-width: 330px;
  margin: 15px 0 0 10px;
  padding: 25px 0px 30px 30px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.23);
}

#stack_overflow .reputation_card .big_number {
  margin-top: 7px;
  font-size: 40px;
  color: white;
  font-weight: 700;
}

#stack_overflow .body .right_box {
  width: 390px;
  /*border: 1px solid rgb(185, 201, 7);*/
}

#stack_overflow .tech_card {
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 244px;
  max-width: 315px;
  margin: 10px 0 0 5px;
  padding: 25px 30px 35px 30px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.23);
}

#stack_overflow .tech_card .list {
  margin-top: 17px;
}

#stack_overflow .tech_card .tag_box {
  display: flex;
}

#stack_overflow .tech_card .name {
  width: 50%;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
}

#stack_overflow .score {
  width: 50%;
  font-size: 20px;
  text-align: right;
  color: white;
}

.card_title {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 22px;
}

.flex_box1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.flex_box1>div:first-child {
  margin-right: 50px;
}

.flex_box2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  font-size: 23px;
  color: white;
}

.flex_box2 .gold {
  color: gold;
  opacity: 0.7;
}

.flex_box2 .silver {
  color: silver;
  opacity: 0.7;
}

.flex_box2 .bronze {
  color: orange;
  opacity: 0.7;
}