.article_card {
  display: flex;
  margin-top: 30px;
  /*background-color: rgba(0, 0, 0, 0.2);*/
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
  text-decoration: none !important;
  border: 5px solid rgba(255, 255, 255, 0.2);
}


.article_card:hover {
  /*box-shadow: inset 0 0 2px white;*/
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.article_card:hover .cover {
  opacity: 1 !important;
}

.article_card>div {
  display: flex;
}

.cover {
  min-width: 250px;
  max-width: 200px;
  height: 145px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  opacity: 0.8;
  /*border: 1px solid white;*/
}

.cover img {
  width: 350px;
}

.details_box {
  margin-left: 20px;
  /*border: 1px solid white;*/
}

.title {
  color: #eee;
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 10px;
  color: lightblue;
  opacity: 0.7;
}

.topics_wrapper {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
  /*border: 1px solid white;*/
  flex-wrap: wrap;
}

.topic_label {
  flex: 1 0 130px;
  max-width: 130px;
  margin: 10px;
  padding: 12px 0px 12px 0px;
  /*width: 120px;*/
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 14px;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 100ms;
  cursor: pointer;
  text-transform: uppercase;
}

.topic_label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#archives {
  margin: 0 auto;
  width: 95%;
  /*border: 1px solid white;*/
}

#list {
  margin: 30px 0px 0px 0px;
}