#navbar {
  margin: 0 auto;
  width:95%;
  min-width: 240px;
  max-width: 874px;
  height: 75px;
  transition: 500ms;
  background-color: var(--wrapper-bg-color);
  border-radius: var(--wrapper-border-radius);
  border: var(--wrapper-border);
  box-shadow: var(--wrapper-inner-shadow);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin:0 auto;
  /*border:1px solid yellow;*/
}

.items_container {
  max-width: 660px;
  display: flex;
  justify-content: left;
  overflow-x: hidden;
  /*border:1px solid white;*/
}

.movable_container {
  width: auto;
  display: flex;
  transition: 300ms;
}

.movable_container>div {
  position: relative;
  overflow: hidden;
  height: 47px;
  padding-top: 28px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  opacity: 0.9;
  cursor: pointer;
  width: 164px;
  -webkit-tap-highlight-color: transparent;
}

.movable_container>div:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1 !important;
}

.selected {
  opacity: 1;
  background-color: var(--selected-bg-color);
  color: var(--selected-font-color);
}

.left_box {
  height: 55px;
  min-width: 41px;
  line-height: 83px;
  padding-right: 11px;
  padding-top: 2px;
  text-align: right;
  opacity: 0.3;
  -webkit-tap-highlight-color: transparent;
}

.right_box {
  height: 58px;
  min-width: 50px;
  line-height: 83px;
  text-align: center;
  padding-top: 2px;
  opacity: 0.3;
  -webkit-tap-highlight-color: transparent;
}

.active {
  opacity: 0.75 !important;
  cursor: pointer !important;
}

.ripple {
  position: absolute;
  z-index: 10;
  background-color: white;
  opacity: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation-name: ripple;
  animation-duration: 300ms;
}

.green {
  color: var(--light-green);
}

.white {
  color: white;
}

.railway_container {
  margin-top: -2px;
  height: 5px;
  position: relative;
  width: 880px;
}

.movable_line {
  position: absolute;
  z-index: 1;
  width: 164px;
  height: 2px;
  opacity: 0.8;
  background: #00edfa;
  transition: 200ms;
}

.pos1 {
  transform: translateX(110px);
}

.pos2 {
  transform: translateX(274px);
}

.pos3 {
  transform: translateX(438px);
}

.pos4 {
  transform: translateX(602px);
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.3;
  }

  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .railway_container {
    display: none !important;
  }
}

@media (min-width:700px) and (max-width: 822px) {
  .left_box {
    display: none !important;
  }

  .right_box {
    display: none !important;
  }
}

@media (min-width:600px) and (max-width:699px) {
  .wrapper {
    max-width: 635px;
  }

  .movable_container>div {
    width: 140px !important;
  }

  .left_box {
    display: none !important;
  }

  .right_box {
    display: none !important;
  }
}

@media (min-width:530px) and (max-width:599px) {
  .wrapper {
    max-width: 510px;
  }

  .movable_container>div {
    width: 133px !important;
  }
}

@media (min-width:465px) and (max-width:529px) {
  .wrapper {
    max-width: 450px;
  }

  .movable_container>div {
    width: 113px !important;
  }
}

@media screen and (max-width:500px) {
  .wrapper {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}

@media (min-width:410px) and (max-width:464px) {
  .wrapper {
    max-width: 400px;
  }

  .movable_container>div {
    width: 140px !important;
  }
}

@media (min-width:350px) and (max-width:409px) {
  .wrapper {
    max-width: 350px;
  }

  .movable_container>div {
    width: 119px !important;
  }
}

@media (min-width:300px) and (max-width:349px) {
  .movable_container>div {
    width: 200px !important;
  }
}

@media (min-width:275px) and (max-width:299px) {
  .movable_container>div {
    width: 160px !important;
  }
}

@media (min-width:260px) and (max-width:275px) {
  .movable_container>div {
    width: 145px !important;
  }
}

@media screen and (max-width:259px) {
  .wrapper {
    min-width: 220px;
  }

  .movable_container>div {
    width: 130px !important;
  }
}