#gallery {
  margin-top: 40px;
  width: 780px;
  height: auto;
  color: #eee;
}

.folder {
  width: 40px;
  color: aqua;
}

.images_wrapper {
  margin-top: 40px;
  display: flex;
  padding: 0 0 0 30px;
  border-radius: 5px;
  /*border: 1px solid rgba(255, 255, 255, 0.2);*/
  /*border: 1px solid white;*/
}

.image_box {
  width: 215px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid transparent;
}

.selected {
  border: 2px solid rgba(0, 0, 0, 1) !important;
}

.image_box img {
  cursor: pointer;
  opacity: 0.7;
  transition: 200ms;
}

.image_box img:hover {
  transform: scale(1.1) !important;
  opacity: 1;
}

.project_details {
  margin-top: 20px;
  margin: 20px 43px 0px 30px;
  border-radius: 5px;
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}