#header {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  height: var(--header-height);
  max-width: 876px;
  background-image: url('../../../global/assets/images/cyberpunk_3.gif');
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  border-radius: var(--border-radius-one);
  border: 2px solid rgb(0, 237, 250, 0.3);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.movable_box {
  display: flex;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 500ms;
  border-right: 1px solid rgb(61, 76, 97, 0.5);
}

.content_wrapper {
  width: 215px;
  height: 300px;
  color: white;
  font-size: 14px;
}

.vertical_text {
  width: 20px;
  margin: 20px auto 20px auto;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white !important;
}

.tab {
  text-align: center;
  width: 75px;
  height: 100%;
  transition: 500ms;
  animation-name: waver;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: white;
}

.tab>* {
  cursor: pointer;
}

@keyframes waver {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.3;
  }
}