.header {
  display: flex;
  /*padding: 20px 20px 20px 0;*/
  min-height: 310px;
  max-height: 310px;
  border: 5px solid #3d4c61;
  border-radius: 11px;
  font-family: roboto;
  background-position: center;
}

.left_box {
  flex-grow: 1;
}

.right_box {
  min-width: 40%;
  max-width: 40%;
  background-color: rgba(21, 21, 21, 0.77);
  padding: 10px 30px 30px 30px;
  transition: 200ms;
  /*border: 1px solid rgba(255, 255, 255, 0.8);*/
}

.right_box .title_wrapper {
  margin: 0px 0px 0px 0px;
}

.right_box .article_title {
  margin: 18px 0px 0px 0px;
  color: #eee;
  font-size: 30px;
  font-weight: 700;
}

.right_box .about {
  margin: 30px 0px 0px 0px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 23px;
  font-size: 17px;
  font-weight: 400;
}