#header {
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: var(--header-width);
  max-width: var(--header-max-width);
  border-radius: var(--border-radius-one);
}

.wrapper {
  position: relative;
  z-index: 1; /* the loading effect is in z-index: 0 */
  height: var(--header-height);
  max-width: var(--header-max-width);
  background-image: url("../../../global/assets/images/CP_projects.gif");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  border-radius: var(--border-radius-one);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  /*box-shadow: inset -4px 4px 12px rgb(0, 0, 0, 0.5);*/
}

.glass {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  width: calc(100%-1px);
  height: 100%;
  border-right: 1px solid white;
  overflow-x: hidden;
  border-image: linear-gradient(to bottom,
      rgb(255, 255, 255, 0.02),
      rgba(0, 0, 0, 0.9)) 1 100%;
  position: relative;
  background: linear-gradient(8deg,
      rgba(255, 255, 255, 0.01) 20%,
      rgba(255, 255, 255, 0.03) 50%,
      rgba(255, 255, 255, 0.05) 80%);
}

.movable_box {
  display: flex;
  width: 300px;
  height: 100%;
  background-color: var(--dark-transparent-one);
  transition: 500ms;
}

.content_wrapper {
  width: 215px;
  height: 300px;
  color: white;
  font-size: 14px;
}