#filterByEvent {
  display: flex;
  margin: 0 auto 0 auto;
  padding: 0px 0px 20px 0px;
  width: 90%;
  flex-wrap: wrap;
  /*border: 1px solid white;*/
}

#filterByEvent>div {
  flex: 1 0 150px;
  max-width: 170px;
  margin: 0px 20px 20px 20px;
  padding: 12px 0px 12px 0px;
  text-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  border-radius: var(--border-radius-two);
  background-color: var(--wrapper-bg-color);
  border: var(--wrapper-border);
  box-shadow: var(--wrapper-inner-shadow);
  transition: 300ms;
  cursor: pointer;
  text-transform: uppercase;
}

#filterByEvent>div:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.icon {
  margin: 0px 20px 0px 0px;
  font-size: 22px;
}

.selected {
  color: var(--selected-font-color) !important;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 1),
      0 0 10px rgba(255, 255, 255, 1),
      0 0 15px rgba(0, 237, 250, 0.5),
      0 0 20px rgba(0, 237, 250, 0.5),
      0 0 25px rgba(0, 237, 250, 0.5),
      0 0 30px rgba(0, 237, 250, 0.5),
      0 0 35px rgba(0, 237, 250, 0.5);
  }

  to {
    text-shadow:
      0 0 10px rgba(255, 255, 255, 1),
      0 0 15px rgba(0, 237, 250, 0.6),
      0 0 20px rgba(0, 237, 250, 0.6),
      0 0 25px rgba(0, 237, 250, 0.6),
      0 0 30px rgba(0, 237, 250, 0.6),
      0 0 35px rgba(0, 237, 250, 0.6),
      0 0 40px rgba(0, 237, 250, 0.6);
  }
}