#header {
  margin: 0 auto;
  height: var(--header-height);
  max-width: 876px;
  background-image: url('../../../global/assets/images/cyberpunk_1.webp');
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  border-radius: var(--border-radius-one);
  border: 2px solid rgb(0, 237, 250, 0.3);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.movable_box {
  display: flex;
  width: 550px;
  height: 100%;
  background-color: var(--dark-transparent-one);
  transition: var(--slide-transition);
}

.content {
  text-align: justify;
  margin: auto;
  width: 450px;
  height: auto;
  color: var(--white);
  font-size: 14px;
  padding: 0 20px 0 20px;
}