#header {
  margin: 0 auto;
  height: var(--header-height);
  max-width: var(--header-max-width);
  background-image: url('../../../global/assets/images/cyberpunk_1.webp');
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  border-radius: var(--border-radius-one);
  border: var(--header-border);
  box-shadow: var(--box-shadow-two);
}

.movable_box {
  display: flex;
  width: 550px;
  height: 100%;
  background-color: var(--dark-transparent-one);
  transition: var(--slide-transition);
}

.content {
  text-align: justify;
  margin: auto;
  width: 450px;
  height: auto;
  color: var(--white);
  font-size: 14px;
  padding: 0 20px 0 20px;
}