#header {
  margin: 0 auto;
  height: var(--header-height);
  max-width: 880px;
  background-image: url('../../../global/assets/images/cyberpunk_1.webp');
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  border-radius: var(--border-radius-one);
  border-left: 8px solid #4f6b7e;
  border-right: 8px solid #4f6b7e;
  border-top: 4px solid #3c5262;
  border-bottom: 4px solid #3c5262;
  /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.movable_box {
  display: flex;
  width: 550px;
  height: 100%;
  background-color: var(--dark-transparent-one);
  transition: var(--slide-transition);
}

.content {
  text-align: justify;
  margin: auto;
  width: 450px;
  height: auto;
  color: var(--white);
  font-size: 14px;
  padding: 0 20px 0 20px;
}

.green {
  color: var(--light-green);
}

.Vtxt_off {
  opacity: 0.55;
  width: 20px;
  margin: 20px auto 20px auto;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: var(--white);
  cursor: default;
  text-shadow: 0 0 12px yellow;
}

.Vtxt_on {
  opacity: 1;
  width: 20px;
  margin: 20px auto 20px auto;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: var(--white);
  cursor: default;
  text-shadow: 0 0 12px yellow;
}

.tab {
  text-align: center;
  width: 75px;
  height: 310px;
  color: var(--white);
}