#pinned {
  /*border: 1px solid white;*/
  margin: 60px 0 0 0;
  display: flex;
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 20px;
  flex: 1;

}

#pinned .details_box {
  margin: 0 10px 0 10px;
  padding: 10px;
  flex-grow: 1;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 11px;
}

#pinned .image_box {
  overflow: hidden;
  width: 600px;
  height: 350px;
  border-radius: 11px;
}

#pinned .image_box img {
  width: 600px;
}

#pinned .name_box {
  display: flex;
}

#pinned .name_box .folder_icon {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

#pinned .name_box .name {
  font-size: 18px;
  margin: 0 0 0 10px;
  color: rgba(255, 255, 255, 0.7);
  /* text-transform: capitalize;*/
}

#pinned .about {
  margin-top: 20px;
  text-align: justify;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: normal;
  max-width: 200px;
}