#display {
  display: flex;
  justify-content: flex-end;
  max-width: 876px;
  margin: 0 auto 15px auto;
  /*border: 1px solid white;*/
}

.brand {
  margin-right: 15px;
  width: 60px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.6);
  /*border: 1px solid white;*/
  font-size: 40px;
}

.screen {
  position: relative;
  width: 800px;
  height: 50px;
  overflow: hidden;
  /*border: 1px solid white;*/
}

.social {
  display: flex;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
  width: 270px;
  height: 42px;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px 2px 2px 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.32);
  border-right: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  border-left: 1px solid rgba(255, 255, 255, 0.07);
  background-color: rgb(33, 56, 100);
  /*background:
    linear-gradient(0deg,
      rgba(49, 116, 240, 0.12) 10%,
      rgba(49, 116, 240, 0.14) 50%,
      rgba(49, 116, 240, 0.17) 80%);*/
  transition: 300ms;
}

.button_box {
  cursor: pointer;
  width: 33px;
  margin: 1px 1px 1px 1px;
  height: 40px;
  border-radius: 3px 3px 3px 3px;
  background-color: rgba(0, 0, 0, 0.3);
}

.button_box:hover>* {
  color: rgba(0, 255, 255, 0.6) !important;
}

.icons_wrapper {
  display: flex;
  justify-content: flex-start;
}

.icons_wrapper>* {
  cursor: pointer;
  transition: 200ms;
}

.icons_wrapper>*:hover {
  color: rgb(0, 255, 255, 0.6);
}

#arrow {
  font-size: 28px;
  margin: 7px 0px 0px 9px;
  color: rgb(0, 255, 255, 0.4);
  transition: 200ms;
}

#git {
  height: 22px;
  margin: 12px 10px 0px 17px;
}

#stack {
  font-size: 24px;
  margin: 11px 20px 0px 20px;
}

#twitter {
  height: 22px;
  margin: 13px 20px 0px 20px;
}

#codepen {
  height: 23px;
  margin: 13px 15px 0px 20px;
}

.msg_display {
  flex: 1;
  height: 48px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgb(218, 173, 114, 0.3);
  background-color: rgba(15, 15, 15, 0.6);
  box-shadow: rgb(0, 0, 0) 1px 1px 2px 0px inset,
    rgba(0, 0, 0, 0.3) -1px -1px 2px 1px inset;
}

.scroll_text {
  margin-top: 18px;
  width: 1600px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  font-family: "Press Start 2P", cursive;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translateX(-100%);
  animation: move-left 20s linear;
  animation-iteration-count: 1;
  color: rgb(241, 190, 50, 0.8);
  /*border: 1px solid orange;*/
}

@keyframes move-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}