#latest_events {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 878px;
  color: var(--white);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(20, 20, 20, 0.4);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.event_wrapper {
  margin: 0 auto;
  display: flex;
  width: 80%;
  border: 1px solid var(--white-transparent-two);
  padding-top: 30px;
  padding-bottom: 10px;
  cursor: pointer;
}

.event_wrapper:hover {
  background-color: var(--white-transparent-one);
}

.icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  min-width: 70px;
}

.detail_box {
  font-size: 17px;
}