#latest_events {
  margin: 0 auto;
  max-width: 880px;
  color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--white-transparent-one);
  background-color: var(--dark-transparent-two);
}

.event_wrapper {
  display: flex;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--white-transparent-two);
  cursor: pointer;
}

.event_wrapper:hover {
  background-color: var(--white-transparent-one);
}

.icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  min-width: 70px;
}

.detail_box {
  font-size: 17px;
}