#latest_events {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 888px;
  color: var(--white);
  border-radius: 2px;
  border-left: 8px solid #3c5262;
  background-color: rgba(0, 0, 0, 0.4);
}

.event_wrapper {
  margin: 0 auto;
  display: flex;
  width: 80%;
  border: 1px solid var(--white-transparent-two);
  padding-top: 30px;
  padding-bottom: 10px;
  cursor: pointer;
}

.event_wrapper:hover {
  background-color: var(--white-transparent-one);
}

.icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  min-width: 70px;
}

.detail_box {
  font-size: 17px;
}